<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
	{% load static %}
</head>
    <body>
	<script src = 'https://code.jquery.com/jquery-3.6.3.min.js'></script>
    <script type="text/javascript" src="{% static 'characters/make_charJSON.js' %}"></script>
        <form id="char_form" action="" method="POST" name="myForm"> {% csrf_token %}
            <p><label for="fname">First Name:</label>
                <input type="text" name="first_name" id="fname"></p>

            <p><label for="lname">Last Name:</label>
                <input type="text" name="last_name" id="lname"></p>

            <p><label for="ability">Ability:</label>
                <input type="text" name="ability" id="ability"></p>

            <p><label for="role">Role:</label>
                <input type="text" name="role" id="role"></p>

            <p><label for="ctime">Current Time:</label>
                <input type="text" name="curr_time" id="ctime"></p>

            <p><label for="char_descr">Description:</label>
                <input type="text" name="description" id="char_descr"></p>

            <p><label for="items">Notable possessions</label>
                <textarea id = "items" name="items" rows="5" cols="15">Enter items here, separated by commas</textarea></p>

            <p><label for="relations">New relationships</label>
                <textarea id = "relations" name="relations" rows="5" cols="15">Enter new relationships, separated by commas</textarea></p>

            <input value="Submit" type="button" onclick="submitForm()">
        </form>
    </body>
</html>